.author-box {
	display: block;
	width: 100%;
	padding: 4rem 2rem;
}

.author-box img.avatar {
    border-radius: 50%;
	float: left;
	margin-right: 1rem;
}

.author-box-title {
	margin: 0;
}

.author-box h1 {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.author-box-content {
	overflow: hidden; 
	_overflow: visible;
	zoom: 1;
}

.author-box-content p {
	margin-top: 0;
}
